body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.profile-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.profile-info {
    padding: 20px;
}

.profile-row {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

span {
    font-weight: bold;
}

#email {
    color: #007bff; /* Blue color */
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

.navbar li {
    float: left;
}

.navbar li a h2 {
    margin-top: 0.3cm;
}

.navbar li .search-container {
    margin-top: 0.4cm;
    margin-left: 18.8cm;
}

.navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.cart, .person, .order {
    position: relative;
    background-color: #fff;
    color: #f4a261;
    font-size: 30px;
    padding: 10px;
    border-radius: 4px;
}

.cartAmount {
    position: absolute;
    top: -1px;
    right: -8px;
    font-size: 20px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

.search-container {
    float: right;
}

input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

@media screen and (max-width: 600px) {
    .search-container {
        float: none;
    }
    input[type=text], .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    input[type=text] {
        border: 1px solid #ccc;
    }
}