* {
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

.bar {
    position: relative;
    background: #e5f5f6;
    border-radius: 15px;
    padding: 1rem;
    border: 1px solid #333;
    width: 80%;
    max-width: 1300px;
    margin: auto;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-4 {
    display: flex;
    align-items: center;
}

.items-label,
.quantity-label,
.price-label {
    font-size: 20px;
    margin: 0;
}

.items-label {
    margin-right: 650px;
}

.quantity-label {
    margin-right: 250px;
}

.cart-title {
    color: #50bdb8;
    font-family: 'serif';
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

.cart-container {
    display: grid;
    gap: 10px;
}

.item {
    background: #e5f5f6;
    border-radius: 15px;
    padding: 1rem;
    border: 1px solid #333;
    width: 80%;
    max-width: 1300px;
    margin: auto;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.details {
    display: flex;
    margin-top: 10px;
}

.cart-row-img {
    border-radius: 15px;
    margin-right: 1rem;
    width: 220px;
    /* Adjust the size as needed */
    height: 331px;
    /* Adjust the size as needed */
}

.buttons {
    display: flex;
    gap: 8px;
    font-size: 16px;
    margin-top: 10px;
}

.bi-dash-lg,
.bi-plus-lg {
    cursor: pointer;
    font-size: 24px;
}

.bi-dash-lg {
    color: red;
}

.bi-plus-lg {
    color: green;
}

.js-delete-item {
    margin-left: auto;
    color: red;
    cursor: pointer;
}

.desgin {
    display: flex;
    flex-direction: column;
}

.price-quantity {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    /* Optional: Add margin for spacing between items */
}

.buttons {
    display: flex;
    align-items: center;
}

.quantity {
    margin: 0 10px;
    /* Optional: Add margin for spacing around the quantity */
}

.prices {
    display: flex;
    align-items: center;
}